@{ 
    string webAPIUrl = $"{Maroik.Common.Miscellaneous.Utilities.ServerSetting.DomainName.Remove(Maroik.Common.Miscellaneous.Utilities.ServerSetting.DomainName.Length - 1)}:5001";
}
<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">@localizer["Develop API"]</h3>
        </div>
        <div class="card-body">
            <a href='@webAPIUrl' target='_blank' rel='noopener noreferrer'>Maroik.WebAPI</a>
        </div>
    </div>
</section>