<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a asp-controller="DashBoard" asp-action="AnonymousIndex" class="h1"><b>Maroik</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">@localizer["AgreementTitle"]</p>
            @localizer["AgreementContent"]
        </div>
    </div>
</div>